@section head{
    <title>تجهیزات</title>
}

<!-- Equipment Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">تجهیزات</h2>
                <h3 class="section-subheading text-muted">ما همواره از به روزترین و کاراترین تجهیزات و ماشین آلات آزمایشگاهی و صنعتی در کنار نیروی متخصص شرکت جهت رسیدن به بالاترین استانداردهای تولید محصولات خود استفاده کرده ایم. شرکت کیمارازی یکی از مدرنترین آزمایشگاه‌های صنعت سرامیک کشور را داراست و تولید فریت، لعاب، جوهر و سایر محصولات با استفاده از ماشین آلات مدرن و فناوری روز انجام می شود.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">تولید</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/cont.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>کوره‌های مداوم</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/rot.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>کوره‌های دوار</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>بچینگ اتوماتیک</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>بچینگ مجموعه</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>گیت درایر</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>کوره‌های رنگ</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>تجهیزات تولید دانه شکری</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>تجهیزات فرآوری مواد اولیه</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>تجهیزات تولید اکسید روی</h4>
                    <p class="text-muted">تولید - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/itech.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>آی میل‌های نانو</h4>
                    <p class="text-muted">تولید - جوهر دیجیتال</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">آزمایشگاه</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/heating-microscope.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>میکروسکوپ‌های حرارتی</h4>
                    <p class="text-muted">آزمایشگاه - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/icp-aes.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>دستگاه آنالیز ICP-AES</h4>
                    <p class="text-muted">آزمایشگاه - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>دیلاتومترها</h4>
                    <p class="text-muted">آزمایشگاه - فریت و لعاب</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>ویسکوزیمتر دیجیتال</h4>
                    <p class="text-muted">آزمایشگاه - جوهر دیجیتال</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>اسپکتروفتومتر اتوماتیک</h4>
                    <p class="text-muted">آزمایشگاه - جوهر دیجیتال</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/plotter.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>پلاتر آزمایشگاهی</h4>
                    <p class="text-muted">آزمایشگاه - جوهر دیجیتال</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>دستگاه Inktester</h4>
                    <p class="text-muted">آزمایشگاه - جوهر دیجیتال</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Images/portfolio/services-placeholder.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>دستگاه Laser Diffraction Particle Size Analyzer - Melvern</h4>
                    <p class="text-muted">آزمایشگاه - جوهر دیجیتال</p>
                </div>
            </div>
        </div>
    </div>
</section>
