@{
    Layout = "~/Views/Shared/_HomeMaster.cshtml";
}
<div class="col-lg-12 text-center">
    <ul id="fade">
        <li>
            <h1 class="section-heading">اولین و بزرگترین تولید کننده لعاب کشور</h1>
            <p class="lead">نیروی متخصص، ماشین‌آلات مدرن، حرکتی پیوسته</p>
        </li>
        <li>
            <h1 class="section-heading">تکنولوژی نانو</h1>
            <p class="lead">اولین تولید کننده جوهرهای چاپ دیجیتال در ایران</p>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 home-about">
        <p>شرکت کیمیارازی اولین و بزرگ‌ترین تولیدکننده لعاب کاشی و سرامیک در زمینه تکنولوژی نانو و اولین تولیدکننده جوهر چاپ دیجیتال در ایران می‌باشد که در راستای تعهد به تأمین نیازها، انتظارات و رضایت مشتریان با به کار گیری تکنولوژی مدرن و نیروی متخصص و مجرب انسانی محصولات خود را ارتقاء کیفیت داده و خود را متعهد به بهبود مستمر فرآیندها با توجه به قابلیت و توانایی‌های شرکت می‌داندکه این امر با به کار گیری به‌روزترین و کارآمدترین تجهیزات و ماشین‌آلات آزمایشگاهی و صنعتی در کنار نیروی متخصص جهت رسیدن به بالاترین استانداردهای تولید محصولات انجام می‌پذیرد و در این راستا تعهد خود را که چهارچوبی برای تعیین اهداف کیفی شرکت هستند بعنوان رئوس خط مشی شرکت اعلام می‌دارد.</p>
        <ul class="tick-list">
            <li>
                <i class="fa fa-check-circle"></i>
                برآورده نمودن الزامات و خواسته‌های مشتریان از طریق تولید محصول با کیفیت و منطبق با نیازها، انتظارات و توافقات مشتریان و درک صحیح آنها.
            </li>
            <li>
                <i class="fa fa-check-circle"></i>
                گسترش فعالیت تحقیق و توسعه با توجه به امکانات شرکت در جهت تقویت توان رقابتی شرکت، حضور فعال و موفق در بازار، دست‌یابی به راه‌کارهای تولید اقتصادی و به‌کارگیری دانش و تکنولوژی نوین.
            </li>
            <li>
                <i class="fa fa-check-circle"></i>
                بهسازی منابع انسانی به عنوان با ارزش‌ترین سرمایه شرکت از طریق مشارکت فعال آنان در فعالیت‌ها و آموزش مستمر ایشان و استخدام نیروهای متخصص و مجرب.
            </li>
            <li>
                <i class="fa fa-check-circle"></i>
                ارتباط مؤثر با تأمین کنندگان در جهت تامین به موقع و با کیفیت تعیین شده مواد اولیه و خدمات.
            </li>
        </ul>
    </div>
    <!--
    <div class="col-md-4 home-column">
        <h2>انواع فریت</h2>
        <p>
            محصولات ما سهم به سزایی در موفقیت بسیاری از تولید کنندگان مطرح کاشی و سرامیک ایران دارد.
        </p>
        <a href="~/Home/Third_Firing" class="btn btn-default">بیشتر بدانید &raquo;</a>
    </div>
    <div class="col-md-4 home-column">
        <h2>جوهر دیجیتال</h2>
        <p>در جوهر کیمیارازی از آخرین پیشرفت‌های تکنولوژی نانو استفاده شده و بالاترین بازدهی را برای انواع پرینتر به ارمغان می‌آورد.</p>
        <a href="~/Home/Third_Firing" class="btn btn-default">بیشتر بدانید &raquo;</a>
    </div>
    <div class="col-md-4 home-column">
        <h2>پخت سوم</h2>
        <p>ما محصولات منتوعی را برای دکوراسیون سرامیک و شیشه عرضه می‌کنیم</p>
        <a href="~/Home/Third_Firing" class="btn btn-default">بیشتر بدانید &raquo;</a>
    </div>-->
</div>
