@section head{
    <title>@Resources.Success.PageTitle</title>
}

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@Resources.Success.H2</h2>
                <h3>@Resources.Success.H3</h3>
                <a href="/Home/Contact">@Resources.Success.ReturnLink</a>
            </div>
        </div>
    </div>
</section>

