<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; KimiaRazi 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="~/" title="Home"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href="~/Content/themes/theme01/contactus.cshtml" title=@Resources.Nav.Contact><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="#page-top" title="Top"><i class="fa fa-arrow-up"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="#">version 2.01.160703</a>
                    </li>
                    <li>
                        <a href="#">All rights reserved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
