<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; KimiaRazi 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="~/" title="Home"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href='@Url.Action("Contact", "Home")' title="@Resources.Nav.Contact"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="#page-top" title="Top"><i class="fa fa-arrow-up"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <span>v 2.06.1607</span>
                    </li>
                    <li>
                        <span>All rights reserved</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
