body {
}

.logo-icon {
    width: auto;
    height: 110%;
    float: left;
    border: 2px solid #f1f1f1;
    border-radius: 35%;
    padding: 1px;
    margin: 0px 5px 0px 5px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.parallax {
    width: 100%;
    padding: 0;
    margin: 0;
    background-position: 50% 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, .section-subheading {
    line-height: 1.5;
}

@media (min-width: 768px) {

    .timeline:before {
        right: 50px !important;
    }
}

@media (min-width: 992px) {
    .timeline:before {
        right: 75px !important;
    }
}

@media (min-width: 1200px) {

    .timeline:before {
        right: 85px !important;
    }
}

#colors .team-member img {
    border: none;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: #037a00;
}

    footer ul.quicklinks li a {
        color: #037a00;
    }

ul.social-buttons {
    margin-bottom: 0;
}

    ul.social-buttons li a {
        display: block;
        background-color: #037a00;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        color: #fff;
        outline: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

        ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
            background-color: #005a00;
        }

ul.tick-list {
    list-style: none;
    text-indent: -9px;
    font-size: 18px;
    line-height: 1.6;
}

ul.home-tick-list {
    line-height: 1.6;
    font-size: 16px;
}

#home-about p {
    font-size: 16px;
}

#addresses {
    background-image: url("../Images/Contact/map-image.jpg");
    background-position: center center;
}

#services .service-item p {
    line-height: 1.3;
}

ul.big-list > li {
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    float: none;
    padding: 20px 0px 0px 40px;
}

    ul.big-list > li h4 {
        color: #037a00;
    }

.lang-bar {
    margin-top: 13px;
    padding: 0px 15px;
    border-left: 1px solid #fff;
}

.lang-icon {
    background-image: url(../Images/Shared/1122707.png);
    background-repeat: no-repeat;
    height: 11px;
    width: 16px;
}

#fair .lang-icon {
    background-position: 50% -132px;
}

#engb .lang-icon {
    background-position: 50% -77px;
}

.bg-primary {
    background-color: #037a00;
}

.text-primary {
    color: #037a00;
}

/*   Portfolio Styles         */

#portfolio-list li .portfolio-item-content {
    background: rgba(230, 230, 230, 0.90);
}

#portfolio-list {
    list-style: none;
    padding: 0;
}

    #portfolio-list li {
        margin-bottom: -4px;
        text-align: center;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        padding: 15px;
    }

        #portfolio-list li .header {
            margin: 2% 0% 0% 0%;
            padding: 4% 0;
            font-size: 1.8em;
            line-height: 1.5;
            font-weight: 300;
            text-transform: none;
            color: #037a00;
            height: unset;
        }

@media (min-width: 992px) {
    #portfolio-list li .header {
        display: block;
    }
}

#portfolio-list li .body {
    font-size: 1em;
    color: #037a00;
}

@media (min-width: 992px) {
    #portfolio-list li .body {
        display: block;
    }
}

#portfolio-list li img {
    width: 100%;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    border-width: 2px;
    border-color: #037a00;
    border-style: solid;
}

#portfolio-list li .portfolio-item-content {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    color: #050F1E;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 15px;
}

#portfolio-list li .more {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    display: inline-block;
    content: "i";
    font-style: normal;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    color: #fff;
    background: #037a00;
    border: 2px solid #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#portfolio-list li:hover > li:before {
    border-color: #2E3444;
    border-width: 14px;
}

#portfolio-list li:hover .portfolio-item-content {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
}

#portfolio-list li:hover .more {
    opacity: 0.75;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    -o-opacity: .75;
    top: 50%;
    margin-top: -40px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#portfolio-list li:hover .more {
    top: 70%;
    margin-top: 0;
}

    #portfolio-list li:hover .more:hover {
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -o-opacity: 1;
        color: #556270;
        border-color: #fff;
        background: #fff;
    }

/*   End Portfolio Styles         */

.intro-body ul{
    list-style-type: none;
    padding: 0px;
}

.colored-span{
    color: #037a00;
}

/*   animated scroll loading effect Styles         */

.visible {
    opacity:1;
}

.not-visible {
    opacity:0;
}

/*   End animated scroll loading effect Styles         */

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .nav li a {
    color: #fff;
}